* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Poppins', sans-serif;
font-family: 'Rubik Iso', cursive; */
}

body{
    background-color: rgb(39, 57, 40);
    color: #ffffff;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    font-family: 'Rubik Iso', cursive;
    font-size: 30px;
}

header p {
    font-size: 3rem;
    text-align: center;
}

h1{
    position: relative;
    font-size: 4rem;
    color: #252839;
    -webkit-text-stroke: #000000;
}

h1::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    color: rgb(102, 221, 102);;
    -webkit-text-stroke: 0vw #171717;
    border-right: 2px solid rgb(102, 221, 102);
    overflow: hidden;
    animation: animate 6s linear infinite;
}

@keyframes animate{
    0%{
        width: 0;
    }70%{
        width: 100%;
    }
}

.battery-container {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px rgb(77, 232, 77);
    padding: 20px;
    width: 50%;
    border-radius: 10px;
}

.item:nth-child(1){
    box-shadow: 0px 0px 10px rgb(232, 77, 77);
    color: rgb(232, 77, 77);
}
.item:nth-child(2){
    box-shadow: 0px 0px 10px rgb(77, 103, 232);
    color: rgb(77, 103, 232);
}
.item:nth-child(3){
    box-shadow: 0px 0px 10px rgb(77, 232, 95);
    color: rgb(77, 232, 95);
}
.item:nth-child(4){
    box-shadow: 0px 0px 10px rgb(227, 232, 77);
    color: rgb(227, 232, 77);
}